.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.open-modal-button {
    background-color: #0b66c3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.open-modal-button:hover {
    background-color: #084b9f;
}